{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

{% block body %}
<div>
<h1> Création d'un cour</h1>

{{form_start(coursForm)}}
{{form_end(coursForm)}}
</div>
{% endblock %}
