{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div>
<h1> Création d'un étudiant</h1>

{{form_start(etudiantForm)}}
{{form_end(etudiantForm)}}
</div>
{% endblock %}
